[submodule "libs/curl"]
	path = libs/curl
	url = https://github.com/david-vanderson/curl
[submodule "deps/wgpu_native_zig"]
	path = deps/wgpu_native_zig
	url = https://github.com/andrewtdiz/wgpu_native_zig
[submodule "deps/luaz"]
	path = deps/luaz
	url = https://github.com/andrewtdiz/luaz
	branch = mainline
[submodule "deps/solidluau"]
	path = deps/solidluau
	url = https://github.com/andrewtdiz/solidluau
